<div class="add-contact-page">

    <div class="row">

        <div class="col-sm-11">
            <div class="heading">
                <h3>Add Contact</h3>
            </div>

            <div class="contact-container">
                <form name="contactForm">
                    <!-- Emplyee Name -->
                    <div class="form-group row">
                        <label for="contact-name" class="col-xs-3 col-form-label">Emplyee Name</label>
                        <div class="col-xs-9">
                            <input class="form-control" type="text" ng-model="contact.Employee_Name" id="contact-name" required>
                        </div>
                    </div>

                    <!-- Employee Phone -->
                    <div class="form-group row">
                        <label for="employee-phone" class="col-xs-3 col-form-label">Employee Phone</label>
                        <div class="col-xs-9">
                            <input class="form-control" type="text" ng-model="contact.Employee_Phone" ng-pattern="phonePattern" name="employee-phone" required>
                        </div>
                    </div>

                    <!-- Emergency Contact Name -->
                    <div class="form-group row">
                        <label for="emergency-contact-name" class="col-xs-3 col-form-label">Emergency Contact Name</label>
                        <div class="col-xs-9">
                            <input class="form-control" type="text" ng-model="contact.Emergency_Contact_Name" id="emergency-contact-name" required>
                        </div>
                    </div>

                    <!-- Emergency Contact Phone -->
                    <div class="form-group row">
                        <label for="emergency-contact-phone" class="col-xs-3 col-form-label">Emergency Contact Phone</label>
                        <div class="col-xs-9">
                            <input class="form-control" type="text" ng-model="contact.Emergency_Contact_Phone" ng-pattern="phonePattern" id="emergency-contact-phone" required>
                        </div>
                    </div>

                    <div class="help">
                        <span>*All fields required</span>
                        <br>
                        <span>*Phone numbers should be in format: xxx-xxx-xxxx</span>
                    </div>

                    <div class="text-center">
                        <button ng-disabled="!contactForm.$valid" class="btn btn-primary" ng-click="addContact()">Add</button>
                        <button class="btn btn-default" ui-sref="emergencycontacts">Cancel</button>
                    </div>
                </form>
            </div>
        </div>

    </div>

</div>