.heading {
    margin-bottom: 3em;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

a:hover {
    cursor: pointer;
}

table, th, td {
   border: 1px solid black !important;
}

th {
    background-color: #B7CBE3;
}

.alert {
    margin-top: 2em;
}

.green {
    color: green;
}

.sortorder:after {
  content: '\25b2';   // BLACK UP-POINTING TRIANGLE
}
.sortorder.reverse:after {
  content: '\25bc';   // BLACK DOWN-POINTING TRIANGLE
}
